In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
enc=LabelEncoder()

In [7]:
enc.fit(df.Gender)
df.Gender=enc.transform(df.Gender)

In [8]:
enc.fit(df.Age)
df.Age=enc.transform(df.Age)

In [9]:
enc.fit(df.EstimatedSalary)
df.EstimatedSalary=enc.transform(df.EstimatedSalary)

In [10]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1    1                4          0
1    15810944       1   17                5          0
2    15668575       0    8               26          0
3    15603246       0    9               39          0
4    15804002       1    1               57          0
..        ...     ...  ...              ...        ...
395  15691863       0   28               24          1
396  15706071       1   33                8          1
397  15654296       0   32                5          1
398  15755018       1   18               17          0
399  15594041       0   31               20          1

[400 rows x 5 columns]

In [11]:
x=df.iloc[:,[1,2,3,]].values

In [12]:
x

array([[ 1,  1,  4],
       [ 1, 17,  5],
       [ 0,  8, 26],
       ...,
       [ 0, 32,  5],
       [ 1, 18, 17],
       [ 0, 31, 20]], dtype=int64)

In [13]:
y=df.iloc[:,4].values

In [14]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [17]:
x_train.shape

(300, 3)

In [18]:
x_test.shape

(100, 3)

In [19]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
x_train=std.fit_transform(x_train)
x_test=std.fit_transform(x_test)

In [20]:
x_train

array([[-0.98019606,  0.58164944, -0.89371129],
       [ 1.02020406, -0.60673761,  1.46457049],
       [-0.98019606, -0.01254409, -0.56155893],
       [-0.98019606, -0.60673761,  1.79672285],
       [-0.98019606,  1.37390747, -1.45837031],
       [-0.98019606,  1.47293972,  1.03277242],
       [ 1.02020406,  0.08648817, -0.82728082],
       [ 1.02020406, -0.01254409, -0.22940657],
       [-0.98019606, -0.21060859, -0.56155893],
       [-0.98019606, -0.21060859, -0.16297609],
       [-0.98019606, -0.30964085, -1.3587246 ],
       [ 1.02020406, -0.30964085, -0.56155893],
       [ 1.02020406,  0.38358493,  0.13596103],
       [-0.98019606,  0.8787462 , -0.59477417],
       [-0.98019606,  2.06713324, -1.22586366],
       [ 1.02020406,  1.07681071, -0.09654562],
       [-0.98019606,  0.68068169,  1.69707714],
       [-0.98019606, -0.70576986,  0.66740482],
       [-0.98019606,  0.77971394,  0.43489816],
       [-0.98019606,  0.8787462 , -0.52834369],
       [ 1.02020406, -1.20093113, -1.65766173],
       [ 1.02020406,  2.1661655 ,  0.99955718],
       [-0.98019606, -0.01254409,  1.1988486 ],
       [ 1.02020406,  0.18552042,  1.13241812],
       [-0.98019606,  0.38358493, -0.46191322],
       [ 1.02020406, -0.30964085, -0.29583704],
       [ 1.02020406,  0.97777845, -0.86049606],
       [-0.98019606,  0.97777845,  1.76350762],
       [-0.98019606, -0.01254409,  1.23206383],
       [ 1.02020406, -0.90383437,  2.12887522],
       [-0.98019606, -1.20093113, -1.65766173],
       [ 1.02020406,  2.1661655 , -0.82728082],
       [ 1.02020406, -1.39899564, -1.52480078],
       [ 1.02020406,  0.38358493,  2.16209045],
       [-0.98019606,  0.77971394,  0.833481  ],
       [ 1.02020406, -1.00286662, -0.29583704],
       [ 1.02020406,  0.08648817,  0.833481  ],
       [ 1.02020406, -1.00286662,  0.66740482],
       [ 1.02020406,  0.28455268,  0.1027458 ],
       [ 1.02020406,  0.68068169, -1.32550937],
       [-0.98019606, -0.50770535,  0.00310009],
       [-0.98019606, -1.79512465,  0.43489816],
       [ 1.02020406, -0.70576986,  0.16917627],
       [ 1.02020406,  0.38358493,  0.36846769],
       [-0.98019606, -0.30964085,  0.1027458 ],
       [-0.98019606, -0.50770535,  2.16209045],
       [ 1.02020406,  0.18552042,  0.06953056],
       [-0.98019606,  1.27487521,  2.06244474],
       [ 1.02020406,  0.77971394,  0.33525245],
       [ 1.02020406, -0.30964085,  0.20239151],
       [ 1.02020406, -0.01254409, -0.52834369],
       [-0.98019606, -0.21060859,  0.20239151],
       [-0.98019606, -0.11157634,  0.30203722],
       [ 1.02020406, -0.01254409, -0.22940657],
       [-0.98019606,  2.1661655 ,  1.16563336],
       [-0.98019606, -1.79512465,  0.43489816],
       [ 1.02020406,  1.86906873,  0.16917627],
       [ 1.02020406,  0.38358493, -0.09654562],
       [ 1.02020406, -1.20093113,  0.36846769],
       [ 1.02020406,  0.77971394,  1.36492478],
       [ 1.02020406, -0.30964085, -0.22940657],
       [-0.98019606, -1.6960924 , -0.03011515],
       [-0.98019606, -1.00286662, -0.76085035],
       [ 1.02020406,  0.28455268,  0.60097434],
       [-0.98019606, -0.11157634, -1.09300271],
       [ 1.02020406, -1.10189888,  0.70062005],
       [ 1.02020406,  0.08648817, -0.82728082],
       [ 1.02020406, -1.00286662,  1.53100096],
       [-0.98019606, -0.70576986,  1.39814002],
       [ 1.02020406, -1.29996338,  0.60097434],
       [-0.98019606, -0.30964085,  0.06953056],
       [ 1.02020406, -0.11157634,  0.03631533],
       [ 1.02020406, -0.30964085, -0.89371129],
       [ 1.02020406,  0.8787462 , -1.39193984],
       [-0.98019606, -0.30964085,  2.09565998],
       [-0.98019606,  0.97777845,  1.86315332],
       [ 1.02020406, -1.20093113,  0.56775911],
       [ 1.02020406, -1.29996338,  0.33525245],
       [-0.98019606,  1.37390747,  1.86315332],
       [ 1.02020406,  1.27487521, -1.39193984],
       [-0.98019606, -0.30964085, -0.2626218 ],
       [-0.98019606, -0.50770535,  1.23206383],
       [ 1.02020406, -0.80480212,  1.13241812],
       [ 1.02020406,  0.97777845, -1.09300271],
       [-0.98019606,  0.28455268,  0.36846769],
       [-0.98019606,  0.97777845,  0.833481  ],
       [ 1.02020406, -0.70576986, -1.55801602],
       [-0.98019606, -0.70576986,  0.06953056],
       [ 1.02020406,  0.48261718,  1.63064667],
       [-0.98019606,  2.06713324,  0.23560674],
       [-0.98019606, -1.99318916, -0.76085035],
       [ 1.02020406, -0.21060859,  1.39814002],
       [-0.98019606,  0.38358493,  0.70062005],
       [-0.98019606,  0.8787462 , -1.19264842],
       [-0.98019606, -1.20093113, -0.79406558],
       [ 1.02020406,  0.18552042,  0.30203722],
       [ 1.02020406,  0.77971394, -0.29583704],
       [-0.98019606,  2.06713324, -0.82728082],
       [-0.98019606,  0.77971394,  0.16917627],
       [ 1.02020406, -0.30964085,  0.73383529],
       [-0.98019606, -1.00286662, -0.29583704],
       [ 1.02020406,  0.18552042, -0.36226751],
       [ 1.02020406,  2.06713324,  1.99601427],
       [-0.98019606,  1.86906873, -1.32550937],
       [-0.98019606,  1.37390747, -0.92692653],
       [-0.98019606,  0.8787462 ,  1.23206383],
       [-0.98019606,  1.47293972,  1.99601427],
       [ 1.02020406, -0.30964085, -1.29229413],
       [-0.98019606,  1.96810099,  0.96634194],
       [-0.98019606,  0.68068169, -0.72763511],
       [-0.98019606, -1.49802789,  0.43489816],
       [ 1.02020406,  0.77971394, -1.39193984],
       [ 1.02020406,  0.38358493, -0.09654562],
       [-0.98019606, -1.00286662,  0.50132863],
       [ 1.02020406, -0.01254409, -0.29583704],
       [-0.98019606, -1.20093113,  0.50132863],
       [-0.98019606, -0.90383437, -1.25907889],
       [-0.98019606, -0.11157634,  0.06953056],
       [-0.98019606, -1.59706014, -0.39548275],
       [-0.98019606,  0.97777845, -1.02657224],
       [ 1.02020406,  1.07681071, -1.25907889],
       [-0.98019606, -0.01254409, -0.09654562],
       [-0.98019606, -1.10189888, -1.59123126],
       [ 1.02020406,  0.77971394, -1.25907889],
       [ 1.02020406,  0.97777845,  1.9295838 ],
       [-0.98019606, -1.20093113, -1.59123126],
       [-0.98019606, -0.30964085,  0.86669623],
       [-0.98019606,  0.08648817, -0.29583704],
       [-0.98019606, -1.39899564, -1.29229413],
       [ 1.02020406, -0.60673761, -1.55801602],
       [ 1.02020406,  0.77971394,  0.63418958],
       [ 1.02020406, -0.30964085, -0.32905227],
       [ 1.02020406,  1.77003648, -0.2626218 ],
       [ 1.02020406,  0.8787462 , -1.05978747],
       [-0.98019606,  0.18552042,  0.1027458 ],
       [ 1.02020406, -0.60673761,  0.93312671],
       [-0.98019606, -1.89415691, -1.45837031],
       [ 1.02020406, -1.29996338,  0.70062005],
       [ 1.02020406, -0.30964085,  0.63418958],
       [ 1.02020406, -1.00286662, -1.12621795],
       [-0.98019606,  1.17584296, -1.49158555],
       [ 1.02020406,  0.18552042, -0.29583704],
       [-0.98019606,  1.17584296, -0.76085035],
       [ 1.02020406, -0.30964085,  0.1027458 ],
       [-0.98019606,  0.18552042,  1.96279903],
       [-0.98019606,  0.77971394, -1.12621795],
       [-0.98019606,  0.08648817,  0.06953056],
       [ 1.02020406, -1.79512465,  0.16917627],
       [ 1.02020406, -0.90383437,  0.20239151],
       [ 1.02020406, -0.70576986,  0.23560674],
       [ 1.02020406,  0.8787462 , -1.3587246 ],
       [ 1.02020406,  0.18552042, -0.22940657],
       [ 1.02020406, -0.4086731 ,  1.1988486 ],
       [-0.98019606, -0.01254409,  0.36846769],
       [-0.98019606,  0.38358493,  0.20239151],
       [-0.98019606,  0.8787462 , -0.66120464],
       [-0.98019606,  0.08648817,  0.20239151],
       [ 1.02020406, -1.89415691, -1.3587246 ],
       [-0.98019606, -0.11157634,  0.36846769],
       [ 1.02020406, -0.21060859, -0.2626218 ],
       [ 1.02020406,  0.28455268, -0.49512846],
       [ 1.02020406, -0.21060859,  1.5642162 ],
       [-0.98019606,  0.97777845, -1.22586366],
       [-0.98019606, -0.21060859,  1.59743143],
       [-0.98019606,  1.27487521,  1.76350762],
       [-0.98019606, -1.10189888, -0.36226751],
       [ 1.02020406, -0.01254409,  0.06953056],
       [-0.98019606,  0.08648817, -0.22940657],
       [-0.98019606, -1.59706014, -1.29229413],
       [-0.98019606, -0.50770535, -0.2626218 ],
       [ 1.02020406,  0.97777845,  0.16917627],
       [-0.98019606,  1.96810099, -1.39193984],
       [ 1.02020406,  1.47293972,  0.1027458 ],
       [-0.98019606, -0.60673761,  1.36492478],
       [ 1.02020406,  1.57197197,  0.03631533],
       [ 1.02020406, -0.80480212,  0.36846769],
       [-0.98019606,  1.96810099,  0.80026576],
       [-0.98019606, -1.20093113, -0.49512846],
       [ 1.02020406,  0.68068169,  0.33525245],
       [ 1.02020406, -1.39899564, -0.39548275],
       [ 1.02020406,  0.18552042,  0.20239151],
       [-0.98019606, -0.50770535, -1.25907889],
       [-0.98019606,  0.58164944,  1.89636856],
       [ 1.02020406, -1.59706014, -1.55801602],
       [-0.98019606, -0.50770535, -0.52834369],
       [-0.98019606,  0.48261718,  1.73029238],
       [-0.98019606, -1.39899564, -1.12621795],
       [-0.98019606,  0.77971394, -1.42515507],
       [ 1.02020406, -0.30964085, -0.39548275],
       [-0.98019606,  1.57197197,  1.03277242],
       [-0.98019606,  0.97777845,  1.43135525],
       [ 1.02020406, -0.30964085, -0.46191322],
       [ 1.02020406, -0.11157634,  2.02922951],
       [-0.98019606, -1.49802789, -0.06333038],
       [-0.98019606, -0.11157634,  1.82993809],
       [ 1.02020406, -0.70576986, -0.32905227],
       [-0.98019606, -0.50770535, -0.86049606],
       [-0.98019606,  0.68068169, -1.42515507],
       [ 1.02020406, -0.80480212, -1.65766173],
       [ 1.02020406, -1.89415691, -1.52480078],
       [ 1.02020406,  1.07681071,  0.16917627],
       [ 1.02020406,  0.08648817,  1.49778572],
       [ 1.02020406, -0.30964085,  0.13596103],
       [ 1.02020406,  0.08648817,  0.06953056],
       [ 1.02020406, -1.39899564, -1.39193984],
       [-0.98019606,  0.28455268,  0.1027458 ],
       [-0.98019606, -0.90383437,  0.4681134 ],
       [-0.98019606,  1.57197197, -1.32550937],
       [-0.98019606, -0.30964085, -0.76085035],
       [ 1.02020406, -0.11157634,  0.20239151],
       [-0.98019606, -0.90383437, -0.66120464],
       [-0.98019606, -0.70576986, -0.03011515],
       [ 1.02020406,  0.38358493, -0.42869798],
       [ 1.02020406, -0.80480212,  1.79672285],
       [-0.98019606,  1.37390747,  1.26527907],
       [-0.98019606,  1.17584296, -0.993357  ],
       [ 1.02020406,  1.77003648,  1.73029238],
       [ 1.02020406, -0.90383437, -0.22940657],
       [ 1.02020406, -0.80480212,  0.66740482],
       [ 1.02020406, -1.20093113, -1.62444649],
       [ 1.02020406, -0.50770535, -1.15943318],
       [-0.98019606,  0.28455268,  0.1027458 ],
       [ 1.02020406, -0.21060859, -1.09300271],
       [-0.98019606,  1.67100423,  1.5642162 ],
       [-0.98019606,  0.97777845,  1.69707714],
       [-0.98019606,  0.28455268,  0.06953056],
       [-0.98019606, -0.80480212, -0.19619133],
       [ 1.02020406, -0.11157634,  0.1027458 ],
       [-0.98019606,  0.28455268, -0.16297609],
       [-0.98019606,  1.96810099, -0.66120464],
       [-0.98019606, -0.80480212,  1.33170954],
       [ 1.02020406, -1.79512465, -0.59477417],
       [ 1.02020406, -0.11157634,  0.16917627],
       [ 1.02020406,  0.28455268, -0.29583704],
       [ 1.02020406,  1.07681071,  0.66740482],
       [ 1.02020406, -1.00286662,  0.33525245],
       [-0.98019606,  1.47293972,  0.43489816],
       [ 1.02020406,  0.18552042, -0.36226751],
       [ 1.02020406,  2.1661655 , -1.05978747],
       [ 1.02020406, -0.30964085,  1.16563336],
       [ 1.02020406, -1.6960924 ,  0.1027458 ],
       [ 1.02020406, -0.01254409,  0.06953056],
       [ 1.02020406,  0.08648817,  1.09920289],
       [-0.98019606, -0.11157634, -0.36226751],
       [-0.98019606, -1.20093113,  0.1027458 ],
       [-0.98019606, -0.30964085, -1.39193984],
       [-0.98019606,  1.57197197,  1.16563336],
       [ 1.02020406, -0.80480212, -1.59123126],
       [ 1.02020406,  0.08648817,  1.76350762],
       [ 1.02020406, -0.90383437, -0.79406558],
       [ 1.02020406, -0.50770535, -0.79406558],
       [ 1.02020406, -0.30964085, -0.92692653],
       [ 1.02020406,  0.28455268, -0.72763511],
       [-0.98019606,  0.28455268,  0.1027458 ],
       [-0.98019606,  0.08648817,  1.76350762],
       [-0.98019606, -1.10189888,  1.82993809],
       [-0.98019606, -1.6960924 , -1.62444649],
       [ 1.02020406, -1.20093113, -1.12621795],
       [ 1.02020406, -0.70576986, -0.06333038],
       [-0.98019606,  0.08648817,  0.13596103],
       [ 1.02020406,  0.28455268,  0.33525245],
       [-0.98019606,  0.8787462 , -0.56155893],
       [-0.98019606,  0.28455268, -1.19264842],
       [-0.98019606, -0.11157634,  0.76705052],
       [-0.98019606,  2.1661655 , -0.69441987],
       [ 1.02020406, -1.29996338, -1.42515507],
       [-0.98019606, -1.00286662, -0.96014177],
       [-0.98019606, -0.01254409, -0.39548275],
       [-0.98019606, -0.21060859, -0.42869798],
       [-0.98019606, -1.79512465, -0.993357  ],
       [-0.98019606,  1.77003648,  1.03277242],
       [ 1.02020406,  0.18552042, -0.36226751],
       [-0.98019606,  0.38358493,  1.16563336],
       [-0.98019606, -1.79512465, -1.39193984],
       [ 1.02020406,  0.18552042, -0.09654562],
       [ 1.02020406,  0.8787462 , -1.49158555],
       [-0.98019606, -1.99318916,  0.56775911],
       [ 1.02020406, -0.30964085,  0.33525245],
       [-0.98019606,  1.86906873, -1.09300271],
       [-0.98019606, -0.4086731 ,  0.1027458 ],
       [-0.98019606,  1.07681071, -0.89371129],
       [-0.98019606, -1.10189888, -1.15943318],
       [ 1.02020406, -1.89415691,  0.03631533],
       [-0.98019606,  0.08648817,  0.33525245],
       [ 1.02020406, -1.20093113,  0.40168292],
       [ 1.02020406, -1.29996338,  0.36846769],
       [-0.98019606, -1.00286662,  0.53454387],
       [ 1.02020406,  1.67100423, -0.89371129],
       [-0.98019606,  1.17584296,  0.63418958],
       [ 1.02020406,  1.07681071,  0.63418958],
       [ 1.02020406,  1.37390747,  2.19530569],
       [-0.98019606, -0.30964085, -0.09654562],
       [ 1.02020406,  0.38358493, -0.42869798],
       [ 1.02020406, -0.4086731 , -0.79406558],
       [ 1.02020406, -0.11157634, -0.49512846],
       [-0.98019606,  0.97777845, -1.19264842],
       [ 1.02020406, -0.90383437, -0.79406558],
       [ 1.02020406, -0.21060859, -0.49512846],
       [-0.98019606, -1.10189888, -0.42869798],
       [-0.98019606, -1.20093113,  1.39814002]])

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
model=LogisticRegression()

In [24]:
model.fit(x_train,y_train)

C:\Users\vsulg\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
y_pred=model.predict(x_test)

In [26]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [27]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [28]:
model.score(x_test,y_test)*100

89.0

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [31]:
y_pred=model.predict(x_test)

In [32]:
model.score(x_test,y_test)*100

90.0